---
import { praiseList } from "../api/praise.api";
import { getTopHonorableUsers } from "../api/profile.api";
import Layout from "../layouts/Layout.astro";

const page = Astro.url.searchParams.get("page") || 1;
const limit = Astro.url.searchParams.get("limit") || 10;

const [[praises], [topHonorables]] = await Promise.all([
  praiseList(`page=${page}&per_page=${limit}`),
  getTopHonorableUsers(),
]);
---

<Layout title="Welcome to Astro.">
  <main>
    {JSON.stringify(praises)}

    <h1>Top</h1>

    {JSON.stringify(topHonorables)}
  </main>
</Layout>
