---
import LoginButton from "./LoginButton";
---

<header>
  <nav
    class="bg-second border px-4 lg:px-6 py-2.5 rounded-b-md max-w-7xl mx-auto"
  >
    <div
      class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
    >
      <a href="/" class="flex items-center">
        <img src="/logo.png" class="mr-3 h-6 sm:h-9" alt="Methet Logo" />
        <span
          class="self-center text-xl font-semibold whitespace-nowrap text-white"
          >Methet</span
        >
      </a>
      <div class="flex items-center lg:order-2">
        <LoginButton client:load client:only />
      </div>
    </div>
  </nav>
</header>
