---
import Header from "../components/Header.astro";

interface Props {
  title: string;
  class?: string;
}

const token = Astro.cookies.get("token");

const { title, class: className = "" } = Astro.props;
---

<!doctype html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="generator" content="9ssi7" />
    <title>{title}</title>
  </head>
  <body class="bg-first text-white h-full px-2 xl:px-0">
    <Header isAuthenticated={!!token} />
    <main
      class={`max-w-3xl mx-auto lg:max-w-7xl h-full min-h-screen ${className}`}
    >
      <slot />
    </main>
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background-color: #090909;
  }

  body {
    height: 100%;
    min-height: 100vh;
  }

  body,
  html {
    @apply selection:bg-teal-200 selection:text-teal-600 dark:selection:bg-teal-500 dark:selection:text-teal-200 selection:bg-opacity-20 dark:selection:bg-opacity-20;
  }
</style>
